# 01 import libraries

In [2]:
import pandas as pd
import numpy as np
import os

# 02 import order_products_prior

In [4]:
df_ords_prior=pd.read_csv(r"C:\Users\eniad\Downloads\Instacart Basket Analysis\02 Data\original data\order_products__prior.csv",index_col=False)

In [6]:
df_ords=pd.read_csv(r"C:\Users\eniad\Downloads\Instacart Basket Analysis\02 Data\original data\orders.csv",index_col=False)

In [5]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [ ]:
df_ords_prior.shape

In [ ]:
df_ords.head()

In [ ]:
df_ords.shape

# 03. Merging dataframe df_ords_prior and df_ords

In [ ]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [ ]:
df_merged_large.head()

In [ ]:
df_merged_large.shape

In [ ]:
df_merged_large['_merge'].value_counts()

# 04. Exporting dataframe orders_products_combined

In [ ]:
df_merged_large.to_pickle(r'C:\Users\eniad\Downloads\Instacart Basket Analysis\02 Data\prepared data\orders_products_combined.pkl')